<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Panel de Adminitracion</h1>

<button onclick="myFbLogin()">Iniciar sesion con Facebook</button>
<br>
<small>Se informa que usted esta dandonos permisos para acceder a las paginas que ud adminsitra</small>

<ul id="list">
</ul>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '490907924631684',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v3.2'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function myFbLogin() {
        FB.login(function (response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function (response) {
                    console.log('Good to see you, ' + response.name + '.');
                    const pages = response.data;
                    var ul = document.getElementById("list");
                    for (var i = 0; i < pages.length; i++) {
                        var page = pages[i];
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.href = '#';
                        a.onclick = susbscribe()
                        li.innerHTML = page.name;
                        ul.appendChild(li);
                    }
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {scope: 'manage_pages'});
    }
</script>
</body>
</html>

